# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/whitaxhv/winykhin"
PassengerBaseURI "/"
PassengerNodejs "/home/whitaxhv/nodevenv/winykhin/20/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# <IfModule mod_rewrite.c>

#  RewriteEngine On
#  RewriteBase /
#  RewriteRule ^index.html$ - [L]
#  RewriteCond %{REQUEST_FILENAME} !-f
#  RewriteCond %{REQUEST_FILENAME} !-d
#  RewriteCond %{REQUEST_FILENAME} !-L
#  RewriteRule . /index.html [L]

# </IfModule>
